---
layout: page
title: 分類
header: Posts By Category
group: navigation
---

{% assign categories_list = site.categories %}
  {% for category in categories_list %}
    <div id="{{ category[0] | replace:' ','-' }}-ref">
    <h3> {{ category[0] | capitalize }} </h3>
    <ul>
      {% assign pages_list = category[1] %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if group == null or group == node.group %}
            <li><a href="{{ site.BASE_PATH }}{{node.url}}">{{node.title}}</a> <span class="text-muted">- {{ node.date | date: "%B %d, %Y" }}</span></li>
          {% endif %}
        {% endif %}
      {% endfor %}
  	</ul>
    {% assign pages_list = nil %}
    {% endfor %}
{% assign categories_list = nil %}

<div class="clearfix"></div>
