---
layout: page
tagline:
---

{% for post in paginator.posts %}

<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div class="post-excerpt">
    {{ post.excerpt }}
  </div>

  <a href="{{ site.BASE_PATH }}{{ post.url }}" class="btn btn-outline-primary btn-sm">
    繼續閱讀 <i class="fa fa-arrow-right"></i>
  </a>

</article>
{% endfor %}
<hr/>

<nav aria-label="Blog pagination" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      {% if paginator.previous_page == 1 %}
      <a class="page-link" href="{{ site.BASE_PATH }}/" aria-label="Newer posts">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Newer
      </a>
      {% else %}
      <a class="page-link" href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}" aria-label="Newer posts">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Newer
      </a>
      {% endif %}
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Newer
      </span>
    </li>
    {% endif %}
    
    <li class="page-item active">
      <span class="page-link">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
    </li>

    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}" aria-label="Older posts">
        Older <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">
        Older <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </li>
    {% endif %}
  </ul>
</nav>
