<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="nav-list" class="text-center">
	<ul class="list-unstyled nav-horizontal">
		<li><a href="{{ site.BASE_PATH}}/"><i class="fa fa-home"></i>首頁</a></li>
		<li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-folder"></i>分類</a></li>
		<li><a href="{{ site.BASE_PATH}}/{{ site.archive_path }}"><i class="fa fa-archive"></i>封存</a></li>
		<li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><i class="fa fa-tags"></i>標籤</a></li>
		<li><a href="{{ site.BASE_PATH}}/tools"><i class="fa fa-wrench"></i>工具</a></li>
		<li><a href="{{ site.BASE_PATH}}/about"><i class="fa fa-user"></i>關於我</a></li>
		<li><a href="{{ site.BASE_PATH}}/privacy"><i class="fa fa-shield"></i>隱私權政策</a></li>
		<li><a href="{{ site.BASE_PATH}}/contact"><i class="fa fa-envelope"></i>聯絡我</a></li>
		</ul></div>
<div id="contact-list" class="text-center">
	<ul class="list-unstyled social-horizontal">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss"></i>
			</a>
		</li>
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		{% if site.author.pinterest %}
		<li>
			<a class="btn btn-default btn-sm" href="https://pinterest.com/{{ site.author.pinterest }}">
				<i class="fa fa-pinterest fa-lg"></i>
			</a>
		</li>
		{% endif %}


	</ul>
</div>
<!-- sidebar.html end -->
